.section {
  padding: 80px 20px;
  text-align: center;
}

/* текст */
.sub {
  color: #00b6b9;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  color: var(--color-text);
  margin-bottom: 10px;
}

.desc {
  color: var(--color-text);
  margin-bottom: 50px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* карточка */
.card {
  background: var(--color-bg-card);
  border-radius: 20px;
  padding: 15px;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

/* картинка */
.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* текст */
.card h3 {
  font-size: 16px;
  color: var(--color-text);
  margin-bottom: 10px;
  flex-grow: 1;
}

/* кнопка */
.card button {
  width: 100%;
  margin-top: auto;
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #00b6b9, #00d4d7);
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.card button:hover {
  opacity: 0.9;
}

/* =========================
   TABLET
========================= */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {
  .section {
  padding: 40px 20px;
}
  .title {
    font-size: 28px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .card {
    padding: 12px;
  }

  .card h3 {
    font-size: 14px;
  }

  .card button {
    font-size: 13px;
    padding: 10px;
  }
}

/* очень маленькие телефоны */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 12px;
  }

  .card button {
    font-size: 12px;
    padding: 8px;
  }
}