.section {
    padding:60px 40px;
  text-align: center;
}

.section h2 {
  font-size: 32px;

}

/* SLIDER */
.slider {
  width: 100%;
  padding-bottom: 50px;
}

.slide {
  width: 320px;
  height: 420px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 20px;
  cursor: pointer;

  transition: 0.3s;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.9);

  display: flex;
  align-items: center;
  justify-content: center;
padding: 30px;
  z-index: 999;
  overflow: hidden;
}

/* картинка */
.modalImg {
  max-width: 90%;
  max-height: 90%;


  transition: transform 0.4s ease;
}

/* 🔥 ZOOM */
.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}

/* MOBILE */
@media (max-width: 768px) {
  .slide {
    width: 240px;
    height: 320px;

  }
.section {
    padding:10px 40px;
  text-align: center;
}
  .modalImg {
    max-width: 95%;
  }
}
.slide {
  width: 260px;
  height: 360px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.4s ease, opacity 0.4s;
}

/* обычные */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 10px;

  transform: scale(0.8);
  opacity: 0.9;
}

/* 🔥 АКТИВНЫЙ (центр) */
:global(.swiper-slide-active) img {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

/* боковые */
:global(.swiper-slide-next) img,
:global(.swiper-slide-prev) img {
  transform: scale(0.9);
  opacity: 0.8;
  z-index: 1;
}
.sub {
  color: #00b6b9;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  color: white;
  margin-bottom: 15px;
}

.desc {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.desc2 {
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  margin-top: 40px;
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .desc {
    font-size: 16px;
  }
}